[Desktop Entry]
Type=Service
Exec=blubb
Icon=kipiplugin_youtube
Comment=Upload videos directly to YouTube
Comment[ar]=ارفع الفيديوهات إلى يوتيوب مباشرةً
Comment[bs]=Slanje slika direktno na Youtube
Comment[ca]=Puja vídeos directament a YouTube
Comment[ca@valencia]=Puja vídeos directament a YouTube
Comment[cs]=Odeslat videa přímo na YouTube
Comment[da]=Upload videoer direkte til YouTube
Comment[de]=Videos auf YouTube hochladen
Comment[el]=Αποστολή βίντεο απευθείας στο YouTube
Comment[en_GB]=Upload videos directly to YouTube
Comment[es]=Enviar vídeos directamente a YouTube
Comment[et]=Video üleslaadimine otse YouTube'i
Comment[eu]=Igo bideoak zuzenean YouTube-ra
Comment[fa]=ویدئوها را مستقیم روی یوتیوب بارگذاری کنید
Comment[fi]=Lähettää videot suoraan YouTubeen
Comment[fr]=Envoie des vidéos directement vers YouTube
Comment[ga]=Uasluchtaigh físeáin go díreach go YouTube
Comment[gl]=Enviar os vídeos directamente a YouTube
Comment[hu]=Videók feltöltése közvetlenül a YouTube-ra
Comment[id]=Unggah video langsung ke YouTube
Comment[is]=Senda myndskeið beint á YouTube
Comment[it]=Carica i video direttamente su YouTube
Comment[ja]=YouTube に直接ビデオをアップロードする
Comment[kk]=Видеоны тікелей YouTube-қа жүктеп беру
Comment[ko]=YouTUbe에 동영상 바로 업로드
Comment[lt]=Įkelti vaizdus tiesiai į YouTube
Comment[lv]=Augšupielādēt videoklipus tieši uz YouTube
Comment[mr]=व्हिडीओ यूट्यूब वर अपलोड करा
Comment[nb]=Last opp videoer direkte til YouTube
Comment[nds]=Videos direktemang na YouTube hoochladen
Comment[nl]=Video's direct naar YouTube uploaden
Comment[pa]=ਵਿਡੀਓ ਸਿੱਧੀਆਂ ਯੂਟਿਊਬ ਉੱਤੇ ਅੱਪਲੋਡ ਕਰੋ
Comment[pl]=Wyślij film bezpośrednio na YouTube
Comment[pt]=Enviar os vídeos directamente para o YouTube
Comment[pt_BR]=Envia vídeos diretamente para o YouTube
Comment[ro]=Încarcă video direct pe YouTube
Comment[ru]=Публикация видео на YouTube
Comment[sk]=Nahrať videá priamo na YouTube
Comment[sl]=Neposredno pošljite video na YouTube
Comment[sv]=Ladda upp videor direkt till YouTube
Comment[tr]=Videoları doğrudan YouTube'a yükleyin
Comment[ug]=سىنلارنى YouTube غا بىۋاسىتە يوللاش
Comment[uk]=Вивантаження відео безпосередньо на YouTube
Comment[x-test]=xxUpload videos directly to YouTubexx
Comment[zh_CN]=直接将视频上传到 YouTube
Comment[zh_TW]=將影片直接上傳到 YouTube
Name=YouTube
Name[ar]=يوتيوب
Name[bs]=YouTube
Name[ca]=YouTube
Name[ca@valencia]=YouTube
Name[cs]=YouTube
Name[da]=YouTube
Name[de]=YouTube
Name[el]=YouTube
Name[en_GB]=YouTube
Name[es]=YouTube
Name[et]=YouTube
Name[eu]=YouTube
Name[fa]=یوتیوب
Name[fi]=YouTube
Name[fr]=YouTube
Name[ga]=YouTube
Name[gl]=YouTube
Name[hu]=YouTube
Name[id]=YouTube
Name[is]=YouTube
Name[it]=YouTube
Name[ja]=YouTube
Name[kk]=YouTube
Name[ko]=YouTube
Name[lt]=YouTube
Name[lv]=YouTube
Name[mr]=यूट्यूब
Name[nb]=YouTube
Name[nds]=YouTube
Name[nl]=YouTube
Name[pa]=ਯੂਟਿਊਬ
Name[pl]=YouTube
Name[pt]=YouTube
Name[pt_BR]=YouTube
Name[ro]=YouTube
Name[ru]=YouTube
Name[sk]=YouTube
Name[sl]=YouTube
Name[sv]=YouTube
Name[tr]=YouTube
Name[ug]=YouTube
Name[uk]=YouTube
Name[x-test]=xxYouTubexx
Name[zh_CN]=YouTube
Name[zh_TW]=YouTube
GenericName=YouTube
GenericName[ar]=يوتيوب
GenericName[bs]=YouTube
GenericName[ca]=YouTube
GenericName[ca@valencia]=YouTube
GenericName[cs]=YouTube
GenericName[da]=YouTube
GenericName[de]=YouTube
GenericName[el]=YouTube
GenericName[en_GB]=YouTube
GenericName[es]=YouTube
GenericName[et]=YouTube
GenericName[eu]=YouTube
GenericName[fa]=یوتیوب
GenericName[fi]=YouTube
GenericName[fr]=YouTube
GenericName[ga]=YouTube
GenericName[gl]=YouTube
GenericName[hu]=YouTube
GenericName[id]=YouTube
GenericName[is]=YouTube
GenericName[it]=YouTube
GenericName[ja]=YouTube
GenericName[kk]=YouTube
GenericName[ko]=YouTube
GenericName[lt]=YouTube
GenericName[lv]=YouTube
GenericName[mai]=YouTube
GenericName[mr]=यूट्यूब
GenericName[nb]=YouTube
GenericName[nds]=YouTube
GenericName[nl]=YouTube
GenericName[pa]=ਯੂਟਿਊਬ
GenericName[pl]=YouTube
GenericName[pt]=YouTube
GenericName[pt_BR]=YouTube
GenericName[ro]=YouTube
GenericName[ru]=YouTube
GenericName[sk]=YouTube
GenericName[sl]=YouTube
GenericName[sv]=YouTube
GenericName[tr]=YouTube
GenericName[ug]=YouTube
GenericName[uk]=YouTube
GenericName[x-test]=xxYouTubexx
GenericName[zh_CN]=YouTube
GenericName[zh_TW]=YouTube
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_youtube
X-KDE-PluginInfo-Name=kipiplugin_youtube
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-KIPI-Mimetypes=video/x-matroska
X-KIPI-Interfaces=org.kde.kipi.ExportPlugin
