[Desktop Entry]
Type=Service
Exec=blubb
Comment=Upload videos directly to YouTube
Comment[es]=Enviar vídeos directamente a YouTube
Comment[pt]=Enviar os vídeos directamente para o YouTube
Comment[sv]=Ladda upp videor direkt till YouTube
Comment[uk]=Вивантаження відео безпосередньо на YouTube
Comment[x-test]=xxUpload videos directly to YouTubexx
Name=YouTube
Name[es]=YouTube
Name[pt]=YouTube
Name[sv]=YouTube
Name[uk]=YouTube
Name[x-test]=xxYouTubexx
GenericName=YouTube
GenericName[es]=YouTube
GenericName[pt]=YouTube
GenericName[sv]=YouTube
GenericName[uk]=YouTube
GenericName[x-test]=xxYouTubexx
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_youtube
X-KDE-PluginInfo-Name=kipiplugin_youtube
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-KDE-Icon=youtube
X-KIPI-Mimetypes=video/ogg
X-KIPI-Interfaces=org.kde.kipi.ExportPlugin
