[Desktop Entry]
Type=Service
Exec=blubb
Comment=Upload videos directly to YouTube
Name=YouTube
GenericName=YouTube
ServiceTypes=Kamoso/Plugin
X-KDE-Library=youtube
X-KDE-PluginInfo-Name=Youtube
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
