[Desktop Entry]
Type=Service
Icon=edit-paste
Exec=blubb
Comment=Upload videos to YouTube
Comment[ar]=ارفع فيديوهات إلى يوتيوب
Comment[ca]=Puja vídeos a YouTube
Comment[cs]=Odeslat videa na YouTube
Comment[de]=Videos auf YouTube hochladen
Comment[en_GB]=Upload videos to YouTube
Comment[es]=Enviar vídeos a YouTube
Comment[fi]=Lähettää videot YouTubeen
Comment[id]=Unggah video ke YouTube
Comment[it]=Carica i video su YouTube
Comment[lt]=Įkelti vaizdus į YouTube
Comment[nl]=Video's naar YouTube uploaden
Comment[pl]=Wyślij film na YouTube
Comment[pt]=Enviar os vídeos para o YouTube
Comment[pt_BR]=Envia vídeos para o YouTube
Comment[sk]=Nahrať videá na YouTube
Comment[sl]=Pošljite video na YouTube
Comment[sv]=Ladda upp videor till YouTube
Comment[tr]=Videoları YouTube'a yükleyin
Comment[uk]=Вивантаження відео на YouTube
Comment[x-test]=xxUpload videos to YouTubexx
Name=Imgur
Name[ar]=Imgur
Name[ca]=Imgur
Name[cs]=Imgur
Name[de]=Imgur
Name[en_GB]=Imgur
Name[es]=Imgur
Name[fi]=Imgur
Name[id]=Imgur
Name[it]=Imgur
Name[lt]=Imgur
Name[nl]=Imgur
Name[pl]=Imgur
Name[pt]=Imgur
Name[pt_BR]=Imgur
Name[sk]=Imgur
Name[sl]=Imgur
Name[sv]=Imgur
Name[tr]=Imgur
Name[uk]=Imgur
Name[x-test]=xxImgurxx
Name[zh_CN]=Imgur

X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities

X-Purpose-Constraints=mimeType:video/*
X-Purpose-Configuration=videoDesc,videoTitle,videoTags

X-Purpose-PluginTypes=Export
