[Desktop Entry]
Type=Service
Icon=edit-paste
Comment=Upload pictures to imgur
Comment[ar]=ارفع صورًا إلى imgur
Comment[ca]=Puja les imatges a imgur
Comment[cs]=Odeslat obrázky na Imgur
Comment[de]=Bilder zu Imgur hochladen
Comment[en_GB]=Upload pictures to imgur
Comment[fi]=Lähettää videot imguriin
Comment[nl]=Afbeeldingen uploaden naar imgur
Comment[pl]=Wyślij zdjęcia na imgur
Comment[pt]=Enviar imagens para o Imgur
Comment[pt_BR]=Envia imagens para Imgur
Comment[sk]=Nahrať obrázky na imgur
Comment[sl]=Pošlji slike v imgur
Comment[sv]=Ladda upp bilder till imgur
Comment[tr]=Resimleri imgur sunucusuna gönder
Comment[uk]=Вивантаження зображень на imgur
Comment[x-test]=xxUpload pictures to imgurxx
Comment[zh_CN]=上传图片至 imgur
Name=Upload...
Name[ar]=ارفع...
Name[ca]=Puja...
Name[cs]=Odeslat...
Name[de]=Hochladen ...
Name[en_GB]=Upload...
Name[fi]=Lähetä…
Name[nl]=Uploaden...
Name[pl]=Wyślij...
Name[pt]=Enviar...
Name[pt_BR]=Enviar...
Name[sk]=Nahrať...
Name[sl]=Pošlji ...
Name[sv]=Ladda upp...
Name[tr]=Yükle...
Name[uk]=Вивантажити…
Name[x-test]=xxUpload...xx
Name[zh_CN]=上传...

X-KDE-PluginInfo-Category=Utilities

X-Purpose-InboundArguments=urls,mimeType
X-Purpose-OutboundArguments=
