[Desktop Entry]
Type=Service
Exec=blubb
Comment=Move any file to trash
Name=Trash
GenericName=Trash
ServiceTypes=Kamoso/Plugin
X-KDE-Library=trash
X-KDE-PluginInfo-Name=Trash
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
