[Desktop Entry]
Type=Service
Icon=edit-paste
Comment=Upload pictures to imgur
Comment[ar]=ارفع صورًا إلى imgur
Comment[ca]=Puja les imatges a imgur
Comment[cs]=Odeslat obrázky na Imgur
Comment[da]=Upload billeder til imgur
Comment[de]=Bilder zu Imgur hochladen
Comment[en_GB]=Upload pictures to imgur
Comment[es]=Enviar imágenes a imgur
Comment[fi]=Lähettää videot imguriin
Comment[fr]=Téléverser les images vers Imgur
Comment[id]=Unggah gambar ke imgur
Comment[it]=Carica immagini su imgur
Comment[lt]=Įkelti nuotraukas į imgur
Comment[nl]=Afbeeldingen uploaden naar imgur
Comment[pl]=Wyślij zdjęcia na imgur
Comment[pt]=Enviar imagens para o Imgur
Comment[pt_BR]=Envia imagens para Imgur
Comment[sk]=Nahrať obrázky na imgur
Comment[sl]=Pošlji slike v imgur
Comment[sv]=Ladda upp bilder till imgur
Comment[tr]=Resimleri imgur sunucusuna gönder
Comment[uk]=Вивантаження зображень на imgur
Comment[x-test]=xxUpload pictures to imgurxx
Comment[zh_CN]=上传图片至 imgur
Comment[zh_TW]=上傳圖片到 imgur
Name=Imgur
Name[ar]=Imgur
Name[ca]=Imgur
Name[cs]=Imgur
Name[da]=Imgur
Name[de]=Imgur
Name[en_GB]=Imgur
Name[es]=Imgur
Name[fi]=Imgur
Name[fr]=Imgur
Name[id]=Imgur
Name[it]=Imgur
Name[lt]=Imgur
Name[nl]=Imgur
Name[pl]=Imgur
Name[pt]=Imgur
Name[pt_BR]=Imgur
Name[sk]=Imgur
Name[sl]=Imgur
Name[sv]=Imgur
Name[tr]=Imgur
Name[uk]=Imgur
Name[x-test]=xxImgurxx
Name[zh_CN]=Imgur
Name[zh_TW]=Imgur

X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities

X-Purpose-Constraints=mimeType:image/*
X-Purpose-Configuration=
X-Purpose-PluginTypes=Export
