[Desktop Entry]
Type=Service
Icon=edit-paste
Comment=Dummy plugin, to test the shit out of the feature
Comment[ca]=Connector de simulació, per provar la sortida de les funcionalitats
Comment[en_GB]=Dummy plugin, to test the shit out of the feature
Comment[nl]=Dummy-plug-in, om de rommel uit de functie te testen
Comment[pl]=Fikcyjna wtyczka, do testowana
Comment[pt]='Plugin' de testes, para testar as características das funcionalidades
Comment[pt_BR]=Plugin para teste da funcionalidade
Comment[sk]=Prázdny plugin, na vyskúšanie funkcie
Comment[sl]=Preizkusni vstavek za podrobno preizkušanje zmožnosti
Comment[uk]=Фіктивний додаток, призначено для тестування можливості
Comment[x-test]=xxDummy plugin, to test the shit out of the featurexx
Name=Dummy
Name[ca]=Simulació
Name[en_GB]=Dummy
Name[nl]=Dummy
Name[pl]=Fikcyjna
Name[pt]=Testes
Name[pt_BR]=Teste
Name[sk]=Prázdne
Name[sl]=Preizkus
Name[uk]=Фіктивний
Name[x-test]=xxDummyxx

X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities

X-KamosoShare-Constraints=
X-KamosoShare-Configuration=destinationPath
X-KamosoShare-PluginTypes=Export
