[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kamoso/Plugin
X-KDE-Derived=KPluginInfo
Name=Kamoso Plugin
Name[da]=Kamoso-plugin
Name[de]=Kamoso-Modul
Name[es]=Complemento de Kamoso
Name[fr]=Module externe Kamoso
Name[ga]=Breiseán Kamoso
Name[nds]=Kamoso-Moduul
Name[pt]='Plugin' do Kamoso
Name[pt_BR]=Plug-in do Kamoso
Name[sv]=Kamoso-insticksprogram
Name[uk]=Додаток Kamoso
Name[x-test]=xxKamoso Pluginxx

