[Desktop Entry]
Name=Kamoso
Name[ar]=كاموسو
Name[bs]=Kamoso
Name[ca]=Kamoso
Name[ca@valencia]=Kamoso
Name[cs]=Kamoso
Name[da]=Kamoso
Name[de]=Kamoso
Name[el]=Kamoso
Name[en_GB]=Kamoso
Name[es]=Kamoso
Name[et]=Kamoso
Name[eu]=Kamoso
Name[fa]=کاموسو
Name[fi]=Kamoso
Name[fr]=Kamoso
Name[ga]=Kamoso
Name[gl]=Kamoso
Name[hu]=Kamoso
Name[id]=Kamoso
Name[is]=Kamoso
Name[it]=Kamoso
Name[ja]=Kamoso
Name[kk]=Kamoso
Name[km]= 
Name[ko]=Kamoso
Name[lt]=Kamoso
Name[lv]=Kamoso
Name[mai]=Kamoso
Name[mr]=कामोसो
Name[nb]=Kamoso
Name[nds]=Kamoso
Name[nl]=Kamoso
Name[pa]=ਕਮੋਸੋ
Name[pl]=Kamoso
Name[pt]=Kamoso
Name[pt_BR]=Kamoso
Name[ro]=Kamoso
Name[ru]=Kamoso
Name[sk]=Kamoso
Name[sl]=Kamoso
Name[sv]=Kamoso
Name[tr]=Kamoso
Name[ug]=Kamoso
Name[uk]=Kamoso
Name[x-test]=xxKamosoxx
Name[zh_CN]=Kamoso
Name[zh_TW]=Kamoso
GenericName=Picture retriever
GenericName[ar]=مسترجع صور
GenericName[bs]=Preuzimač slika
GenericName[ca]=Càmera de fotografies
GenericName[ca@valencia]=Càmera de fotografies
GenericName[cs]=Program pro získávání obrázků
GenericName[da]=Billedhenter
GenericName[de]=Aufnahme von Bildern
GenericName[el]=Ιχνηλάτης φωτογραφιών
GenericName[en_GB]=Picture retriever
GenericName[es]=Capturador de imágenes
GenericName[et]=Pildihankija
GenericName[eu]=Argazki-kapturatzailea
GenericName[fa]=بازیاب تصویر
GenericName[fi]=Kuvanoutaja
GenericName[fr]=Outil de recherche d'images
GenericName[ga]=Faighteoir pictiúr
GenericName[gl]=Capturador de imaxes
GenericName[hu]=Képkészítő
GenericName[id]=Pengambil gambar
GenericName[is]=Myndataka
GenericName[it]=Acquisizione di immagini
GenericName[ja]=画像撮影
GenericName[kk]=Сурет түсіргіші
GenericName[ko]=그림 가져오기
GenericName[lt]=Paveikslėlių gavėjas
GenericName[lv]=Attēlu saņēmējs
GenericName[mr]=छायाचित्र काढणारा
GenericName[nb]=Bildehenter
GenericName[nds]=Bildgrieper
GenericName[nl]=Neemt een afbeelding
GenericName[pa]=ਤਸਵੀਰ ਲੈਣ ਵਾਲਾ
GenericName[pl]=Robienie zdjęć
GenericName[pt]=Receptor de imagens
GenericName[pt_BR]=Captura de imagens
GenericName[ro]=Preluator de imagini
GenericName[ru]=Веб-камера
GenericName[sk]=Zberateľ obrázkov
GenericName[sl]=Program za zajem slik
GenericName[sv]=Bildlagring
GenericName[tr]=Resim alıcı
GenericName[uk]=Програма для створення знімків
GenericName[x-test]=xxPicture retrieverxx
GenericName[zh_CN]=图片获取器
GenericName[zh_TW]=圖片抓取器
Comment=Take any picture with your web cam
Comment[ar]=التقط أيّ لقطة بكاميرا الوِبّ لديك
Comment[bs]=Uzmite sliku svojom mrežnom kamerom
Comment[ca]=Preneu qualsevol fotografia amb la càmera web
Comment[ca@valencia]=Preneu qualsevol fotografia amb la càmera web
Comment[cs]=Sejměte jakýkoli obrázek pomocí své webové kamery
Comment[da]=Tag et billede med dit webkamera
Comment[de]=Bilder mit Ihrer Webcam aufnehmen
Comment[el]=Τραβήξτε οποιαδήποτε φωτογραφία με τη web κάμερα
Comment[en_GB]=Take any picture with your web cam
Comment[es]=Hacer una foto con su cámara web
Comment[et]=Pildi tegemine oma veebikaameraga
Comment[eu]=Egin argazki bat web-kamerarekin
Comment[fa]=هر تصویری را یا وب‌کم‌تان بگیرید
Comment[fi]=Ottaa kuvia web-kamerallasi
Comment[fr]=Prenez un cliché quelconque avec votre webcam
Comment[ga]=Tóg grianghraf le do cheamara Gréasáin
Comment[gl]=Faga unha fotografía coa súa cámara web
Comment[hu]=Kép készítése a webkamerájával
Comment[id]=Ambil gambar apa saja dengan web cam Anda
Comment[is]=Taktu myndir með vefmyndavélinni
Comment[it]=Fai qualsiasi foto con la tua webcam
Comment[ja]=ウェブカメラから画像を採取します
Comment[kk]=Суретті веб-камераңізбен түсіру
Comment[ko]=웹캠으로 사진 찍기
Comment[lt]=Padaryti bet kokią nuotrauką su Jūsų internetine vaizdo kamera
Comment[lv]=Uzņemiet jebkādu attēlu ar savu tīmekļa kameru
Comment[mr]=तुमच्या वेबकॅमने छायाचित्र काढा
Comment[nb]=Ta bilde med web-kameraet
Comment[nds]=Jichtenseen Bild mit Dien Nettkamera opnehmen
Comment[nl]=Neem elke afbeelding met uw webcam
Comment[pa]=ਆਪਣੇ ਵੈੱਬ ਕੈਮ ਨਾਲ ਕੋਈ ਵੀ ਤਸਵੀਰ ਲਵੋ
Comment[pl]=Zrób dowolne zdjęcie przy użyciu twojej kamery internetowej
Comment[pt]=Tire quaisquer fotografias com a sua Web Cam
Comment[pt_BR]=Tire uma foto com sua webcam
Comment[ro]=Face orice fotografie cu camera web
Comment[ru]=Получение изображения с веб-камеры
Comment[sk]=Vytvoriť obrázok s vašou webkamerou
Comment[sl]=Zajemite poljubno sliko z vašo spletno kamero
Comment[sv]=Ta en bild med webbkamera
Comment[tr]=Web kameranız ile resim çekin
Comment[ug]=تور كامېرانى ئىشلىتىپ خالىغانچە سۈرەتكە ئېلىش پروگراممىسى
Comment[uk]=Створіть знімок за допомогою вашої вебкамери
Comment[x-test]=xxTake any picture with your web camxx
Comment[zh_CN]=用网络摄像头拍照
Comment[zh_TW]=從您的網路攝影機抓取任何圖片
Exec=kamoso
MimeType=application/x-kamoso;
Icon=kamoso
Type=Application
Terminal=false
Categories=Qt;KDE;Graphics;
