[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kamoso/Plugin
X-KDE-Derived=KPluginInfo
Name=Kamoso Plugin
Name[ca]=Connector del Kamoso
Name[cs]=Přídavný modul Kamoso
Name[da]=Kamoso-plugin
Name[de]=Kamoso-Modul
Name[el]=Πρόσθετο Kamoso
Name[en_GB]=Kamoso Plugin
Name[es]=Complemento de Kamoso
Name[et]=Kamoso plugin
Name[eu]=Kamoso plugina
Name[fi]=Kamoso-liitännäinen
Name[fr]=Module externe Kamoso
Name[ga]=Breiseán Kamoso
Name[gl]=Engadido de Kamoso
Name[it]=Estensione di Kamoso
Name[lt]=Kamoso priedas
Name[nb]=Kamoso programtillegg
Name[nds]=Kamoso-Moduul
Name[nl]=Kamoso-plugin
Name[pa]=ਕਮੋਸੋ ਪਲੱਗਇਨ
Name[pl]=Wtyczka Kamoso
Name[pt]='Plugin' do Kamoso
Name[pt_BR]=Plug-in do Kamoso
Name[ro]=Modul pentru Kamoso
Name[ru]=Дополнение Kamoso
Name[sv]=Kamoso-insticksprogram
Name[ug]=كاموسو قىستۇرمىسى
Name[uk]=Додаток Kamoso
Name[x-test]=xxKamoso Pluginxx
Name[zh_CN]=Kamoso 插件
Name[zh_TW]=Kamoso 外掛程式

