[Desktop Entry]
Name=Kamoso
Name[ca]=Kamoso
Name[cs]=Kamoso
Name[da]=Kamoso
Name[de]=Kamoso
Name[en_GB]=Kamoso
Name[es]=Kamoso
Name[et]=Kamoso
Name[fi]=Kamoso
Name[fr]=Kamoso
Name[ga]=Kamoso
Name[is]=Kamoso
Name[it]=Kamoso
Name[lt]=Kamoso
Name[mai]=Kamoso
Name[nb]=Kamoso
Name[nds]=Kamoso
Name[nl]=Kamoso
Name[pa]=ਕਮੋਸੋ
Name[pl]=Kamoso
Name[pt]=Kamoso
Name[pt_BR]=Kamoso
Name[sv]=Kamoso
Name[tr]=Kamoso
Name[ug]=كاموسو
Name[uk]=Kamoso
Name[x-test]=xxKamosoxx
Name[zh_CN]=Kamoso
Name[zh_TW]=Kamoso
GenericName=Picture retriever
GenericName[ca]=Càmera de fotografies
GenericName[cs]=Program pro získávání obrázků
GenericName[da]=Billedhenter
GenericName[de]=Aufnahme von Bildern
GenericName[en_GB]=Picture retriever
GenericName[es]=Capturador de imágenes
GenericName[et]=Pildihankija
GenericName[fi]=Kuvanoutaja
GenericName[fr]=Outil de recherche d'images
GenericName[is]=Myndataka
GenericName[it]=Acquisitore di immagini
GenericName[nb]=Bildehenter
GenericName[nds]=Bildgrieper
GenericName[nl]=Neemt een afbeelding
GenericName[pa]=ਤਸਵੀਰ ਲੈਣ ਵਾਲਾ
GenericName[pl]=Pobieranie zdjęć
GenericName[pt]=Receptor de imagens
GenericName[pt_BR]=Captura de imagens
GenericName[sv]=Bildlagring
GenericName[tr]=Resim getirici
GenericName[uk]=Програма для створення знімків
GenericName[x-test]=xxPicture retrieverxx
GenericName[zh_CN]=图片获取器
GenericName[zh_TW]=圖片抓取器
Comment=Take any picture with your web cam
Comment[ca]=Preneu qualsevol fotografia amb la càmera web
Comment[cs]=Sejměte jakýkoli obrázek pomocí své webové kamery
Comment[da]=Tag et billede med dit webkamera
Comment[de]=Bilder mit Ihrer Webcam aufnehmen
Comment[en_GB]=Take any picture with your web cam
Comment[es]=Hacer una foto con su cámara web
Comment[et]=Pildi tegemine oma veebikaameraga
Comment[fi]=Ottaa kuvia web-kamerallasi
Comment[fr]=Prenez un cliché quelconque avec votre webcam
Comment[is]=Taktu myndir með vefmyndavélinni
Comment[it]=Fai qualsiasi foto con la tua webcam
Comment[nb]=Ta bilde med web-kameraet
Comment[nds]=Jichtenseen Bild mit Dien Nettkamera opnehmen
Comment[nl]=Neem elke afbeelding met uw webcam
Comment[pa]=ਆਪਣੇ ਵੈੱਬ ਕੈਮ ਨਾਲ ਕੋਈ ਵੀ ਤਸਵੀਰ ਲਵੋ
Comment[pl]=Zrób dowolne zdjęcie swoją kamerką internetową
Comment[pt]=Tire quaisquer fotografias com a sua Web Cam
Comment[pt_BR]=Tire uma foto com sua webcam
Comment[sv]=Ta en bild med webbkamera
Comment[tr]=Web kameranızla bir fotoğraf çekin
Comment[ug]=تور كامېرا ئارقىلىق رەسىمگە تارتىش
Comment[uk]=Створіть знімок за допомогою вашої вебкамери
Comment[x-test]=xxTake any picture with your web camxx
Comment[zh_CN]=用网络摄像头拍照
Comment[zh_TW]=從您的網路攝影機抓取任何圖片
Exec=kamoso
MimeType=application/x-kamoso;
Icon=kamoso
Type=Application
Terminal=false
Categories=Qt;KDE;Graphics;
