[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kamoso/Plugin
X-KDE-Derived=KPluginInfo
Name=Kamoso Plugin
Name[ar]=ملحقة كاموسو
Name[bs]=Kamoso dodatak
Name[ca]=Connector del Kamoso
Name[ca@valencia]=Connector del Kamoso
Name[cs]=Přídavný modul Kamoso
Name[da]=Kamoso-plugin
Name[de]=Kamoso-Modul
Name[el]=Πρόσθετο Kamoso
Name[en_GB]=Kamoso Plugin
Name[es]=Complemento de Kamoso
Name[et]=Kamoso plugin
Name[eu]=Kamoso plugina
Name[fa]=متصل شونده کاموسو
Name[fi]=Kamoso-liitännäinen
Name[fr]=Module externe Kamoso
Name[ga]=Breiseán Kamoso
Name[gl]=Engadido de Kamoso
Name[hu]=Kamoso bővítmény
Name[id]=Plugin Kamoso
Name[is]=Kamoso íforrit
Name[it]=Estensione di Kamoso
Name[ja]=Kamoso プラグイン
Name[kk]=Kamoso плагині
Name[ko]=Kamoso 플러그인
Name[lt]=Kamoso priedas
Name[lv]=Kamoso spraudnis
Name[mr]=कामोसो प्लगइन
Name[nb]=Kamoso programtillegg
Name[nds]=Kamoso-Moduul
Name[nl]=Kamoso-plugin
Name[pa]=ਕਮੋਸੋ ਪਲੱਗਇਨ
Name[pl]=Wtyczka Kamoso
Name[pt]='Plugin' do Kamoso
Name[pt_BR]=Plugin do Kamoso
Name[ro]=Modul pentru Kamoso
Name[ru]=Расширение Kamoso
Name[sk]=Plugin Kamoso
Name[sl]=Vstavek Kamoso
Name[sv]=Kamoso-insticksprogram
Name[tr]=Kamoso Eklentisi
Name[ug]=كاموسو قىستۇرمىسى
Name[uk]=Додаток Kamoso
Name[x-test]=xxKamoso Pluginxx
Name[zh_CN]=Kamoso 插件
Name[zh_TW]=Kamoso 外掛程式

