[Desktop Entry]
Name=Kamoso
Name[bs]=Kamoso
Name[ca]=Kamoso
Name[ca@valencia]=Kamoso
Name[da]=Kamoso
Name[de]=Kamoso
Name[el]=Kamoso
Name[en_GB]=Kamoso
Name[es]=Kamoso
Name[et]=Kamoso
Name[eu]=Kamoso
Name[fa]=کاموسو
Name[fi]=Kamoso
Name[fr]=Kamoso
Name[ga]=Kamoso
Name[gl]=Kamoso
Name[hu]=Kamoso
Name[id]=Kamoso
Name[is]=Kamoso
Name[it]=Kamoso
Name[kk]=Kamoso
Name[km]= 
Name[ko]=Kamoso
Name[lv]=Kamoso
Name[mai]=Kamoso
Name[mr]=कामोसो
Name[nds]=Kamoso
Name[nl]=Kamoso
Name[pa]=ਕਮੋਸੋ
Name[pl]=Kamoso
Name[ro]=Kamoso
Name[ru]=Kamoso
Name[sk]=Kamoso
Name[sl]=Kamoso
Name[tr]=Kamoso
Name[ug]=Kamoso
Name[uk]=Kamoso
Name[zh_CN]=Kamoso
Name[zh_TW]=Kamoso
GenericName=Camera
GenericName[ca]=Camera
GenericName[nl]=Camera
GenericName[pt]=Câmara
GenericName[pt_BR]=Câmera
GenericName[sk]=Fotoaparát
GenericName[sv]=Kamera
GenericName[uk]=Камера
GenericName[x-test]=xxCameraxx
Comment=Use your webcam to take pictures or make videos
Comment[ca]=Useu la càmera web per prendre fotografies o fer vídeos
Comment[nl]=Gebruik uw webcam om foto's of video's te maken
Comment[pt]=Use a sua câmara Web para tirar fotografias ou criar vídeos
Comment[pt_BR]=Use sua webcam para tirar fotos e gravar vídeos
Comment[sk]=Použite svoju webkameru na vytváranie fotiek alebo natáčanie videa
Comment[sv]=Använd din egen webbkamera för att ta bilder eller göra videor
Comment[uk]=Скористайтеся вашою вебкамерою для створення знімків та запису відео
Comment[x-test]=xxUse your webcam to take pictures or make videosxx
Exec=kamoso -qwindowtitle %c
Icon=kamoso
Type=Application
X-DocPath=kamoso/index.html
Terminal=false
Categories=Qt;KDE;AudioVideo;
